Source: ros-groovy-ros-http-video-streamer
Section: misc
Priority: extra
Maintainer: Julius Kammerl <jkammerl@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libbz2-dev,ros-groovy-catkin,ros-groovy-roscpp,ros-groovy-rostime,zlib1g-dev,ros-groovy-sensor-msgs,ros-groovy-image-transport,yasm
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-ros-http-video-streamer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbz2-dev,ros-groovy-roscpp,ros-groovy-rostime,zlib1g-dev,ros-groovy-sensor-msgs,ros-groovy-image-transport
Description: This package encodes ROS image topics via ffmpeg and provides a video stream via http
